<nav class="navbar is-transparent is-fixed-top" style="height : 4rem;">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="assets/images/logo/traveler.svg" alt="" width="128" height="40">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span><span></span><span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="">Destination</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="">Promo</a>
        <div class="navbar-dropdown is-boxed">          
          <a class="navbar-item" href="">Limited Seat</a>
          <a class="navbar-item" href="">Night Edition</a>
          <!-- <hr class="navbar-divider">
          <a class="navbar-item" href="">Elements</a> -->
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">     
          <p class="control">
            <input class="input" type="text" placeholder="Paradise is awaiting..">
          </p>       
          <p class="control">
            <a class="button is-dark" href="register">
              <span class="icon"><i class="fa fa-user-circle"></i></span>
              <span>Register</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>