<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <dashboard-sidebar></dashboard-sidebar>
      </div>
      <div class="column is-9">
        
        <div class="">
          <h1 class="title">Dashboard</h1>
          <h2 class="subtitle">
            Welcome home, {{ account.name }} 
          </h2>
          <hr>
        </div>

        <div class="tabs">
          <ul>
            <li [ngClass]="{ 'is-active': menu['profile'] }" (click)="showMenu('profile');">
              <a>
                  <span class="icon"><i class="fas fa-user" aria-hidden="true"></i></span>
                  <span>Profile</span> 
              </a>
            </li>
            <li [ngClass]="{ 'is-active': menu['cart'] }" (click)="showMenu('cart');">
              <a>
                  <span class="icon"><i class="fas fa-money-check" aria-hidden="true"></i></span>
                  <span>Cart</span>
              </a>
            </li>
            <li [ngClass]="{ 'is-active': menu['ticket'] }" (click)="showMenu('ticket');">
              <a>
                  <span class="icon"><i class="fas fa-ticket-alt" aria-hidden="true"></i></span>
                  <span>Ticket</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="" id="profile" *ngIf="menu['profile']">
          <div class="columns">
            <div class="column is-3">
  
              <div class="field">
                <figure class="image is-128x128">
                  <img src="https://bulma.io/images/placeholders/128x128.png" class="is-rounded">
                </figure>
              </div>
              <div class="field">
                <div class="file is-normal">
                  <label class="file-label">
                    <input class="file-input" type="file" name="thumbnail">
                    <span class="file-cta">
                      <!-- <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span> -->
                      <span class="file-label">
                        Choose photo
                      </span>
                    </span>
                  </label>
                </div>
              </div>
  
            </div>
            <div class="column is-6">

              <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="Name.." [(ngModel)]="account.name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">This name is available</p>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="password" placeholder="Password.." [(ngModel)]="account.password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">This password is available</p>
              </div>              
  
            </div>
            
          </div>
  
          <div class="columns">
            <div class="column is-9">
              <div class="field">
                <div class="control">
                  <button class="button is-link is-pulled-right" (click)="updateProfile()">Update profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
                
        <div class="" id="cart" *ngIf="menu['cart']">
          <div class="columns is-multiline" *ngIf="carts?.length > 0">
            <div class="column is-12">
              <div class="buttons">
                <button class="button is-danger" (click)="cancelAllCart()">
                  <span class="fa ico"> <i class="fa fa-close"></i></span>
                  <span>Cancel all</span>                  
                </button>
                <button class="button is-dark" (click)="buyCart()">
                    <span class="fa ico"> <i class="fa fa-shopping-cart"></i></span>
                    <span>Checkout</span> 
                </button>
              </div>
            </div>
            <div class="column is-6" *ngFor="let cart of carts; let i = index" [attr.data-index]="i">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    {{ cart.name }} <br> ({{ cart.transportation_name + ' - @Rp' + cart.price }})
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <p href="#">
                      {{ cart.origin_name }} ({{cart.departure_at}})
                      <br>
                      {{ cart.destination_name }} ({{cart.return_at}})
                    </p>
                  </div>
                </div>
                <footer class="card-footer">
                  <div class="card-footer-item">
                    <div class="field is-grouped">
                      <div class="field has-addons">
                        <div class="control">
                            <button class="button is-dark is-pulled-left" (click)="dec(cart.id)">-</button>
                        </div>
                        <div class="control">
                            <input class="input" type="number" placeholder="" value="1" step="1" min="1" readonly [(ngModel)]="cart.cart">
                        </div>
                        <div class="control">
                            <button class="button is-dark is-pulled-right" (click)="inc(cart.id)">+</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="card-footer-item" (click)="cancelCart(cart.id)">
                      <i class="fa fa-close"></i>
                      <b>Cancel</b>
                  </a>
                </footer>
              </div>
            </div>
          </div>
          <div class="columns" *ngIf="carts?.length == 0">
            <div class="column is-12">
              Belum ada tiket di dalam keranjang. <br>
              Ayo <a routerLink="/">beli</a> dulu (^_^)/
            </div> 
          </div>
        </div>

        <div class="" id="ticket" *ngIf="menu['ticket']">
          <div class="columns is-multiline" *ngIf="tickets?.length > 0">            
            <div class="column is-6" *ngFor="let ticket of tickets; let i = index" [attr.data-index]="i">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    {{ ticket.name }} <br> ({{ ticket.detail_amount + ' @Rp' + ticket.detail_price }})
                  </p>
                </header>
                <div class="card-content">
                  <div class="content is-primary">
                    {{ticket.status}}
                    <span *ngIf="ticket.detail_status === 0" class="tag is-warning">Pending payment</span>
                    <span *ngIf="ticket.detail_status !== 0" class="tag is-black">{{ ticket.departure_at }}</span>
                  </div>
                </div>
                <footer class="card-footer">
                  <a *ngIf="ticket.detail_status !== 0" class="card-footer-item" (click)="showCode(ticket.ticket_token)">
                    <b>Show Code</b>
                  </a>
                  <a *ngIf="ticket.detail_status === 0" class="card-footer-item" (click)="toggleModal('payment');">
                    <b>Buy Ticket</b>
                  </a>
                </footer>
              </div>
            </div>
          </div>
          <div class="columns" *ngIf="tickets?.length == 0">
            <div class="column is-12">
              Kamu belum mempunyai tiket apapun <br>
              Ayo <a routerLink="/">beli</a> dulu (^_^)/
            </div> 
          </div>
        </div>


      </div>
    </div>
  </div>
</section>

<div class="modal" [ngClass]="{ 'is-active': modal.payment }">
  <div class="modal-background" (click)="toggleModal('payment');"></div>
  <div class="modal-content">
    <article class="message">
      <div class="message-header">
        <p>Pembayaran Tiket</p>
      </div>
      <div class="message-body">
        Silahkan lakukan pembayaran tiket melalui rekening berikut: <br>
        <div class="columns">
          <div class="column is-6">
            <img src="assets/images/logo/bca.png" alt="">
            <p class="has-text-centered"><b>PT Mencari Cinta Sejati</b><br> 22341859104</p>
          </div>
          <div class="column is-6">
            <img src="assets/images/logo/bni.png" alt="">
            <p class="has-text-centered"><b>PT Mencari Cinta Sejati</b><br> 51418418141</p>
          </div>
        </div> 
        <br>        
      </div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleModal('payment');"></button>
</div>

<div class="modal" [ngClass]="{ 'is-active': modal.code }">
  <div class="modal-background" (click)="toggleModal('code');"></div>
  <div class="modal-content">
    <article class="message">
      <div class="message-header">
        <p>Tiket Anda</p>
      </div>
      <div class="message-body">
        <div class="columns">
          <div class="column is-3"></div>
          <div class="column is-6 has-text-centered">
            <img src="assets/images/logo/qrcode.png" alt="">
            <p>
              Silahkan scan qr code di atas untuk menggunakan tiket. Jika qr code tidak bisa digunakan, gunakan kode tiket di bawah ini: <br>
              <span class="tag is-black is-large">{{code}}</span>
            </p>
          </div>
          <div class="column is-3"></div>
        </div>
      </div>
    </article>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleModal('code');"></button>
</div>

<div class="modal" [ngClass]="{ 'is-active': modal.notification }">
  <div class="modal-background" (click)="toggleModal('notification');"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close" (click)="toggleModal('notification');"></button>
    </header>
    <section class="modal-card-body">{{ notification.message }}</section>
    <footer class="modal-card-foot">
      <button class="button {{ notification.type }}" (click)="toggleModal('notification');">OK</button>
    </footer>
  </div>
</div>

