<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <dashboard-sidebar></dashboard-sidebar>
      </div>
      <div class="column is-9">

        <div class="">
          <h1 class="title">Employee</h1>
          <h2 class="subtitle">
            List of all available employee.
          </h2>
          <hr>
        </div>

        <table class="table" *ngIf="employees?.length > 0">
          <thead>
            <tr>
              <th>Photo</th>
              <th>Name</th>
              <th><abbr title="Position">Position</abbr></th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Photo</th>
              <th>Name</th>
              <th><abbr title="Position">Position</abbr></th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            <tr class="" *ngFor="let employee of employees">
              <td>
                <figure class="image is-96x96">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </td>
              <td>
                {{ employee.name }}
              </td>
              <td>
                {{ employee.position }}
              </td>
              <td>
                <a class="button is-dark" routerLink="/dashboard/employee/change/{{employee.id}}">
                  <span class="icon"><i class="fa fa-edit"></i></span>                  
                </a>
                <button class="button is-danger" (click)="deleteEmployee(employee.id);">
                  <span class="icon"><i class="fa fa-close"></i></span>                  
                </button>
              </td>
            </tr>                        
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>