<div id="modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" (click)="closeModal();"></button>
    </header>
    <section class="modal-card-body">
      Modal content
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">modal agree label</button>
      <button class="button" (click)="closeModal();">modal disagree label</button>
    </footer>
  </div>
</div>