<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a class="is-active" routerLink="/dashboard">Dashboard</a></li>            
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li>
              <a routerLink="/dashboard/user">User</a>
              <ul>
                <li><a routerLink="/dashboard/user">Manage user</a></li>
                <li><a routerLink="/dashboard/user/add">Add user</a></li>               
              </ul>
            </li>
            <li>
              <a>Employee</a>
              <ul>
                <li><a routerLink="/dashboard/employee">Manage employee</a></li>
                <li><a routerLink="/dashboard/employee/add">Add employee</a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label">
            Transactions
          </p>
          <ul class="menu-list">
            <li><a routerLink="/dashboard/transaction">All Transaction</a></li>
          </ul>
          <p class="menu-label">
            Reports
          </p>
          <ul class="menu-list">
            <li><a routerLink="/dashboard/report/income">Income</a></li>
            <li><a routerLink="/dashboard/report/inventory">Inventory</a></li>
          </ul>
          <p class="menu-label">
            Setting
          </p>
          <ul class="menu-list">
            <li><a routerLink="/dashboard/profile">Profile</a></li>
            <li><a routerLink="/logout">Logout</a></li>            
          </ul>
        </aside>
      </div>
      <div class="column is-8">
        
      </div>
    </div>
  </div>
</section>
  