  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Traveler</h1>
        <h2 class="subtitle">Your travel agency solution</h2>
      </div>
    </div>
  </section>
  
  <section class="" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">Vertical...</p>
                <p class="subtitle">Top tile</p>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">...tiles</p>
                <p class="subtitle">Bottom tile</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">Middle tile</p>
                <p class="subtitle">With an image</p>
                <figure class="image is-4by3">
                  <img src="assets/images/static/placeholder.png">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Wide tile</p>
              <p class="subtitle">Aligned with the right tile</p>
              <div class="content">
                <!-- Content -->
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Tall tile</p>
              <p class="subtitle">With even more content</p>
              <div class="content">
                <!-- Content -->
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Paradise awaiting</h1>
        <h2 class="subtitle">All destination route available</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      
      <div *ngIf="routes?.length > 0">
        <div class="columns is-multiline">
          <div class="column is-4-desktop is-4-tablet is-12-mobile" *ngFor="let route of routes">
            <div class="card">
              <div class="card-image">
                <figure class="image is-5by3">
                  <img src="assets/images/static/placeholder.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">{{ route.name }}</p>
                    <p class="subtitle is-6">{{ route.origin_name + ' - ' + route.destination_name }}</p>
                  </div>
                </div>          
                <div class="content">
                  {{ route.transportation_name }}
                  <br>
                  <time datetime="">{{ route.departure_at + ' ' + route.return_at }}</time>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
              <a class="pagination-previous">Previous</a>
              <a class="pagination-next">Next page</a>
              <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="columns" *ngIf="routes?.length < 0">
        Tidak ada tujuan hidup ditemukan :(
      </div>

    </div>
  </section>
  