  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Traveler</h1>
        <h2 class="subtitle">Your travel agency solution</h2>
      </div>
    </div>
  </section>
  
  <section class="" style="margin-top: 10px; margin-bottom: 10px;">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent">
              <article class="tile is-child">
                <!-- <p class="title">Middle tile</p>
                <p class="subtitle">With an image</p> -->
                <figure class="image is-16by9">
                  <img src="assets/images/static/wallpaper2.jpg">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger" (click)="this.getRouter().navigate(['/register'])">
              <p class="title">Join right now!</p>
              <p class="subtitle">Join your friend to enjoy life</p>
              <div class="content">
                  <div class="tags">
                    <span class="tag" *ngFor="let user of users">{{user.name}}</span>
                  </div>
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <div class="content">
              <p class="title">Holiday paradise</p>
              <p class="subtitle">List of all route available</p>
              <div class="content" *ngIf="routes?.length > 0">
                <ul>
                  <li *ngFor="let route of routes">{{ route.name }}</li>
                </ul>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Paradise awaiting</h1>
        <h2 class="subtitle">All destination route available</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
 
      <div *ngIf="routes?.length > 0">
     
        <div class="columns" style="margin-bottom: 35px;">
          <div class="column is-4">
            <p class="control has-icons-left">
              <span class="select" *ngIf="regencies?.length > 0">
                <select>
                  <option *ngFor="let regency of regencies">{{regency.name}}</option>
                </select>
              </span>
              <span class="icon is-small is-left">
                <i class="fas fa-globe"></i>
              </span>
            </p>
          </div>
          <div class="column is-4">
            <div class="field">
              <p class="control has-icons-left">
                <span class="select" *ngIf="regencies?.length > 0">
                  <select>
                    <option *ngFor="let regency of regencies">{{regency.name}}</option>
                  </select>
                </span>
                <span class="icon is-small is-left">
                  <i class="fas fa-globe"></i>
                </span>
              </p>              
            </div>
          </div>
          <div class="column is-4">
            <div class="field has-addons is-pulled-right">
              <p class="control">
                <input class="input" type="text" placeholder="Find your own paradise here..">
              </p>
              <p class="control">
                <a class="button is-info">
                    <i class="fas fa-search"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
            
        <div class="columns is-multiline">
          <div class="column is-4-desktop is-4-tablet is-12-mobile" *ngFor="let route of routes; let i = index" [attr.data-index]="i">
            <div class="card">
              <!-- <div class="card-image">
                <figure class="image is-5by3">
                  <img src="assets/images/static/placeholder.png" alt="Placeholder image">
                </figure>
              </div> -->
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">{{ route.name }}</p>
                    <p class="subtitle is-6">{{ route.origin_name + ' - ' + route.destination_name }}</p>
                  </div>
                </div>          
                <div class="content">
                  {{ route.transportation_name }} (Rp{{ route.price }})
                  <br>
                  <time datetime="">{{ route.departure_at + ' ' + route.return_at }}</time>
                </div>
              </div>
              <footer class="card-footer">
                <div class="card-footer-item">                    
                    <div class="field is-grouped">
                      <div class="field has-addons">
                        <div class="control">
                            <button class="button is-dark is-pulled-left" (click)="dec(route.id)">-</button>
                        </div>
                        <div class="control">
                            <input class="input" type="number" placeholder="" value="1" step="1" min="1" readonly [(ngModel)]="route.cart">
                        </div>
                        <div class="control">
                            <button class="button is-dark is-pulled-right" (click)="inc(route.id)">+</button>
                        </div>
                      </div>                      
                    </div>                              
                </div>
                <div class="card-footer-item">
                  <div class="buttons">
                      <button class="button is-info" (click)="addToCart(route.id)">
                          <span class="icon">
                            <i class="fas fa-cart-plus"></i>
                          </span>
                          <span>Add</span>
                      </button>
                      <button class="button is-danger" routerLink="/dashboard" disabled>
                          <span class="icon">
                            <i class="fas fa-shopping-cart"></i>
                          </span>
                          <span>Buy</span>
                      </button>
                  </div>                    
                </div>
              </footer>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
              <a class="pagination-previous">Previous</a>
              <a class="pagination-next">Next page</a>
              <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <div class="columns" *ngIf="routes?.length < 0">
        Tidak ada tujuan hidup ditemukan :(
      </div>

    </div>
  </section>
  